<template name="home">
  <style>
    .axis {
      font: 0.7em arial;
    }
    path {
      fill:none;
      stroke:black;
      stroke-width:2px;
    }
    .tick {
      fill:none;
      stroke:black;
    }
    .line {
      stroke:steelblue;
      opacity:50;
    }

  </style>
  <div class="template-home">
    <div class="container">
      <h5>S&P Price-to-Earnings Ratio (PE10 or CAPE)</h5>
      <div class="row">
        <div class="card-panel" id="sp-pe10"></div>
        <div>Sources: Robert Shiller, Crestmont Research and Federal Reserve Bank of St. Louis</div>
        <div id="latest-sp-pe10"></div>
      </div>
    </div>
  </div>
</template>
